node red.json
[{"id":"1b14afab.9e42","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e9d3719.8379c9","type":"inject","z":"1b14afab.9e42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":300,"wires":[["ca85c750.f753d8"]]},{"id":"6c782df6.de8e44","type":"debug","z":"1b14afab.9e42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":532,"y":444,"wires":[]},{"id":"ca85c750.f753d8","type":"function","z":"1b14afab.9e42","name":"Token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"b353aacb-65ac-4d63-b712-c48b7d15e122\"\nvar password=\"e0be8486-45ed-4710-aa4f-1ed9194c4b06\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"yi\",msg.payload.yi)\nglobal.set(\"a\",msg.payload.a)\nreturn msg;","outputs":1,"noerr":0,"x":151,"y":385,"wires":[["8ce31454.b07858"]]},{"id":"8ce31454.b07858","type":"http request","z":"1b14afab.9e42","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":354,"y":404,"wires":[["2a5e16d9.476f7a","6c782df6.de8e44"]]},{"id":"2a5e16d9.476f7a","type":"function","z":"1b14afab.9e42","name":"Prediction","func":"var token=msg.payload.token;\nvar g=global.get(\"g\");\nvar yi=global.get(\"yi\");\nvar a=global.get(\"a\");\nmsg.payload={\"fields\":[\"Gender\",\"YearlyIncome\",\"Age\"],\"values\":[[g,yi,a]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":272,"wires":[["907fae6d.f57fb"]]},{"id":"907fae6d.f57fb","type":"http request","z":"1b14afab.9e42","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/dd01e3b2-414d-493e-aff4-11f7255470f4/deployments/6d46b442-454e-4632-a88d-bb7b390e12b5/online","tls":"","proxy":"","authType":"basic","x":502,"y":280,"wires":[["51c93185.a8b55","3cbe974.d04df68"]]},{"id":"3cbe974.d04df68","type":"function","z":"1b14afab.9e42","name":"output parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":143,"y":129,"wires":[["2c16bd52.5869a2"]]},{"id":"51c93185.a8b55","type":"debug","z":"1b14afab.9e42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":704,"y":313,"wires":[]},{"id":"268ddce9.f7cc34","type":"ui_form","z":"1b14afab.9e42","name":"","label":"","group":"c2991f8f.5d8e","order":0,"width":0,"height":0,"options":[{"label":"Gender","value":"g","type":"number","required":true},{"label":"YearlyIncome","value":"yi","type":"number","required":true},{"label":"Age","value":"a","type":"number","required":true}],"formValue":{"g":"","yi":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":291,"y":565,"wires":[["ca85c750.f753d8","ffc587a7.3c2ff8","4645e313.f70a9c","55a79290.5c28ec"]]},{"id":"4f6250a6.e2377","type":"ui_text","z":"1b14afab.9e42","group":"c2991f8f.5d8e","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":106,"wires":[]},{"id":"ffc587a7.3c2ff8","type":"ui_text","z":"1b14afab.9e42","group":"c2991f8f.5d8e","order":0,"width":0,"height":0,"name":"","label":"Age","format":"{{msg.payload.a}}","layout":"row-spread","x":507,"y":564,"wires":[]},{"id":"4645e313.f70a9c","type":"ui_text","z":"1b14afab.9e42","group":"c2991f8f.5d8e","order":0,"width":0,"height":0,"name":"","label":"Gender","format":"{{msg.payload.g}}","layout":"row-spread","x":518,"y":606,"wires":[]},{"id":"55a79290.5c28ec","type":"ui_text","z":"1b14afab.9e42","group":"c2991f8f.5d8e","order":0,"width":0,"height":0,"name":"","label":"Income","format":"{{msg.payload.yi}}","layout":"row-spread","x":518,"y":645,"wires":[]},{"id":"2c16bd52.5869a2","type":"switch","z":"1b14afab.9e42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"0.5","vt":"num"},{"t":"gt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":122,"wires":[["97a06228.72b14"],["a82b528b.881dd"]]},{"id":"97a06228.72b14","type":"template","z":"1b14afab.9e42","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Not Buyed ","output":"str","x":504,"y":62,"wires":[["4f6250a6.e2377"]]},{"id":"a82b528b.881dd","type":"template","z":"1b14afab.9e42","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Can Buy","output":"str","x":501,"y":146,"wires":[["4f6250a6.e2377"]]},{"id":"c2991f8f.5d8e","type":"ui_group","z":"","name":"Home","tab":"cf36c50c.6ebac8","disp":true,"width":"6","collapse":false},{"id":"cf36c50c.6ebac8","type":"ui_tab","z":"","name":"prediction","icon":"ml","disabled":false,"hidden":false}]